@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Fuzzy Bubbles", cursive;
  background-image: url("https://images.unsplash.com/photo-1602632003094-0494b73b7c4a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
